/* Основа сайта */

/* :root {
    
    /* Шрифта
    --main-fonts : 'Roboto';
    --secondary-fonts : 'Raleway';

    /* Цвета 
    --primary-text-color : #212121;
    --title-text-color : #ffffff;
    --text-color : #757575;
    --accent-color : #2196F3;
    --background-color: #2F303A;
    --dark-color: #000000;
    --second-background-color: #F5F4FA;
    --border-color: #EEEEEE;
    --color-icon: #AFB1B8;

    /* Others 
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */



/* common styles star */

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
} */

/* section {
    padding-top: 94px;
    padding-bottom: 94px;
} */

/* .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/* .link { 
    text-decoration: none;
	color: inherit;
} */

/* .list {
    list-style: none;
	padding: 0;
	margin: 0;
} */

/* .uppertitle {
    text-align: center;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--primary-text-color);
} */

/* .btn {
    width: 200px;
    height: 50px;

    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--title-text-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;
} */

/* img {
	display: block;
	max-width: 100%;
	height: auto;
} */

/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
} */

/* .no-scroll {
    overflow: hidden;
} */



/* Body */

/* body {
    font-family: var(--main-fonts);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--title-text-color);
} */


/* logo */

/* .logo {
    font-family: var(--secondary-fonts);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-color);
    text-decoration: none;
}

.part-logo-dark {
    color: var(--dark-color);
}

.part-logo-white {
    color: var(--title-text-color);
} */



/* Шапка профиля */

/* .header {
    border-bottom: 1px solid #ECECEC;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: flex;
}

.header-navigation__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: var(--main-fonts);
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    color: var(--primary-text-color);

    transition: var(--anim);
}

.header-navigation__link:hover,
.header-navigation__link:focus {
  color: var(--accent-color);
}

.current:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;
    display: inline-block;
    margin-right: 10px;

    background-color:var(--accent-color);
    border-radius: 2px;
}




.header-navigation {
    display: flex;
    margin-left: 93px;

}

.header-navigation-item:not(:last-child) {
    margin-right: 50px;

}

.header-navigation .current {
    color: var(--accent-color);
}

.header-contacts__item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition: var(--anim);
}

.header-contacts__item:hover,
.header-contacts__item:focus {
    color: var(--accent-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts__link {
    display: flex;
    align-items: center;
}

.header-contacts .item {
   margin-left: 30px;
}

.header-contacts__icons {
    margin-right: 10px;

    fill: currentColor;
} */


/* Герой */
/* .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-width: 1600px;
    margin: 0 auto;
    text-align: center;

    background-color: var(--background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
}


.hero__title {
    width: 696px;
    margin: 0 auto;

    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.hero__btn {
    margin-top: 30px;

    left: 700px;
    top: 430px;
    letter-spacing: 0.06em;
} */


/* Modal  */
/* .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.2);

    transition: opacity var(--anim), visibility var(--anim);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: relative;
    padding: 40px 40px;
    max-width: 528px;

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}  

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--title-text-color);
    cursor: pointer;
    transition: var(--anim);
}

.modal__close-container:hover{
    fill: var(--accent-color);
}


.form__title {
    display: block;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

.label__title {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-top: 12px;

    color: var(--text-color);
}

.input-container__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: var(--anim);

}

.input-container__input:hover,
.input-container__input:focus {
    border-color: var(--accent-color);
}

.input-container {
    position: relative;
    margin-top: 4px;
}

.input-container__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px; 
    transition: var(--anim);
}

.input-container__input:focus + .input-container__icon {
    fill: var(--accent-color);
}

.input-coment__coment-input {
    height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    resize: none;
}

.label-agreement {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label-agreement__icon {
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    cursor: pointer;
}

.label-agreement__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.label-agreement__checkbox:checked + .label-agreement__icon {
    background-color: var(--accent-color);
    
    border: var(--accent-color);
    background-size: contain;
}

.label-agreement__title {
    margin-left: 7px;

    font-family: 'Roboto'; 
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;  

    color: var(--text-color);
}

.label-agreement__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    
    color: var(--accent-color);
}

.modal-send{
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-send__btn {
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: var(--anim);
}

.modal-send__btn:hover {
    background-color: #188CE8;
} */



/* Особенности компании */

/* .features__list {
    display: flex;
}

.features__item {
    width: 270px;
}

.features__item:not(:last-child) {
    margin-right: 30px;
}

.features-box__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.features-box__text {
    line-height: 1.71;
    color: var(--text-color);
}

.features-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;

    border-radius: 4px;
    background-color: var(--second-background-color);
} */


/* What does do */

/* .does {
    padding-top: 0;
}

.does__list {
    display: flex;
    margin-top: 50px;
}

.does__item {
    position: relative;
}


.does__item:not(:last-child) {
  margin-right: 30px;

}

.does__text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
} */


/* Team */ 

/* .team {
background-color:var(--second-background-color);
}

.team__list {
    display: flex;
    margin-top: 50px;  
}

.team-card {
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;

   text-align: center;
   margin-left: auto;
   margin-right: auto;

   background:var(--title-text-color)
}

.team-card:not(:last-child) {
    margin-right: 30px;
}

.team-card__name {
    margin-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
}

.team-card__text {
    margin-top: 10px;
    margin-bottom: 16px;

    line-height: 1.18;
    color:var(--text-color)
}

.icon-socials__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    border-radius: 50%;
    
    transition: var(--anim);
}

.icon-socials__item:not(:last-child) {
    margin-right: 10px;
}

.icon-socials__link:hover,
.icon-socials__link:focus {
    background-color: var(--accent-color);
}

.icon-socials__link:hover .icon-socials__icon,
.icon-socials__link:focus .icon-socials__icon {
    fill: var(--title-text-color);
}

.icon-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.icon-socials__icon {
    fill: var(--color-icon);
} */

/* Regular customer */



/* Footer */

/* .footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__contacts {
    padding: 0;
}

.footer__logo {
    display: block; 
}

/* Address and contacts 

.address-item:not(:first-child) {
    margin-top: 8px;
}

.address__link {
    display: block;
    margin-top: 20px;

    font-family: var(--main-fonts);
    font-style: normal;
    line-height: 1.71;
    color: var(--title-text-color);

    transition: var(--anim);
}

.address__link:hover,
.address__link:focus {
    color: var(--accent-color);
}


.address__contact-link {
    font-family: var(--main-fonts);
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: var(--anim);
}

.address__contact-link:hover,
.address__contact-link:focus {
    color: var(--accent-color);
}

/* Socials link

.footer-socials-container {
    margin-left: 70px;
}

.footer-socials-container {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.footer-socials {
    margin-top: 20px;  
}

.footer-socials__item {
    display: inline-block;
    margin-right: 10px;
}

.footer-socials__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.12);
    
    text-decoration: none;
    border-radius: 50%;

    transition: var(--anim);
}

.footer-socials__link:hover,
.footer-socials__link:focus {
    background-color:var(--accent-color) ;
}

.footer-socials__icon {
    fill: var(--title-text-color);
}


/* Footer form 

.form-footer-container {
    margin-left: auto;
}

.form-footer-container__title {
    display: block;
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-color);
}

.form-footer {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    color: var(--title-text-color);
    background-color: var(--background-color);
}

.form-footer__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-footer__icon {
    margin-left: 10px;
} */


/* Portfolio */

/* .portfolio-nav {
    display: flex;  
    justify-content: center;
}

.portfolio-nav__item:not(:first-child) {
    margin-left: 8px;
}

.portfolio-nav__btn {
    border-radius: 4px;
    border: none;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transition: var(--anim);
}

.portfolio-nav__btn:hover,
.portfolio-nav__btn:focus {
    color: var(--title-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} */


/* Projects */

/* .portfolio-project {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 50px;
    margin-bottom: -30px;
}

.project-name {
    padding: 20px 24px;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}



.project-box {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-box:hover .project-box__text-hover {
    transform:  translateY(0);


}

.project-box:hover,
.project-box:focus {
    color: var(--accent-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-box:nth-child(3n) {
    margin-right: 0px;
}

.project-box__photo {
    position: relative;
    overflow: hidden;
}

.project-box__text-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(101%);

    background-color:rgba(33, 150, 243, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--title-text-color);

    transition: var(--anim);
}

.project-name__title {
    margin-bottom: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    color: var(--primary-text-color);
 }

.project-name__text {
    font-family: var(--main-fonts);
    font-size: 16px;
    line-height: 30px;
    color: var(--text-color);
} */